<%= form_with(model: @user,url: user_path(@user), local: true,class: "center",method: :patch) do |f| %>
    <div class ="user-inner">
      <div class = "text-area">
        <%= f.label :自己紹介文 %><br>
        <%= f.text_area :introduce, class: "text-area-input", size: "65x5" %>
        <p>50文字以上、２００文字未満で入力してください</p>
      </div>


      <div class="image-area">
        <%= f.label :"アバター画像",class:"image-area-label" %><br>
        <div class ="custom-file-area">
          <%= f.label :image, class: "custom-file-label" do %>
          <span>画像ファイルを添付する</span>
        </div>
        <%= f.file_field :image, class: "custom-file-input" %>
        <% end %>
      </div>
      <div class ="actions">
       <%= f.submit "自己紹介を確定する",class:"user-edit-button" %>
      </div>
    </div>
<% end %>

