
<%= form_with(scope: :session, url: sessions_path, local: true,class: "aaa") do |f| %>
  <div class = "center">
    <div class ="user-inner">
      <div class = "text-area">
        <%= f.label :自己紹介文 %><br>
        <%= f.text_area :introduce, class: "text-area-input", size: "65x5" %>
        <p>50文字以上、２００文字未満で入力してください</p>
      </div>


      <div class="image-area">
        <%= f.label :"アバター画像" %><br>
        <%= f.label :image, class: "custom-file-label" do %>
          <span>画像ファイルを添付する</span>
          <%= f.file_field :image, class: "custom-file-input" %>
        <% end %>
      </div>
    </div>
    <div class ="actions">
      <%= f.submit "自己紹介を確定する",class:"user-edit-button" %>
    </div>
  </div>
<% end %>

