<h1 class ="user-new-title">新規登録</h1>
<%= form_with(model: @user, local: true,class: "new-user-center") do |f| %>    
    <div class = "user-inner">
      <div class ="user-text-area">
        <div class = "filed">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, class: "input-underline",id: 'session_email' %>
      </div>
      <div class = "filed">
        <p> <%= f.label :パスワード %></p>
        <p> <%= f.password_field :password, class: "input-underline",id: 'session_password' %></p>
      </div>
    </div>
    <div class ="actions">
      <%= f.submit "登録する",class:"submit-button" %>
    </div>
    <%= f.hidden_field :name, value: "gest" %>
    <%= f.hidden_field :introduce, value: "サンプル" * 13 %>
  </div>
<% end %>