<div class ="skill-new-head">
    <h1><%= @category.name %>にスキルを追加</h1>
</div>

<% if @skill.errors.any? %>
  <div id="error_explanation">
    <h2><%= @skill.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @skill.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class ="skill-new-body">
  <%= form_with(model: @skill, local: true) do |f| %>
    <div class="name-area">
      <%= f.label :スキル名 %>
      <%= f.text_field :name, class: "custom-input" %>
    </div>
    <div class="lebel-area">
      <%= f.label :習得レベル %>
      <%= f.select :level, (1..100).to_a, {}, { class: "custom-input custom-select" } %>
      <p>1~100の間で選択してください</p>
    </div>
    <%= f.hidden_field :category_id, value: "#{@category_id}" %>
    <div class="new-button-area">
      <%= f.submit "追加する", class: "new-button",id: "modal-open-create" %>
    </div>
  <% end %>
</div>