<h1>{カテゴリー名}にスキルを追加</h1>

<% if @skill.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this <%= @skill.name %> from being saved:</h2>
    <ul>
    <% @skill.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @skill, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :lebel %>
  <%= f.email_field :lebel %>

  <%= f.submit "追加する" %>
<% end %>