<!DOCTYPE html>
<html>
  <head>
    <title>ProfileApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>
</head>
  </head>

  <body>
   <header>
      <h1 class= "title">My profile</h1>
  　　<nav class = "nav">
  　　<ul class = "button">

    　　<% if logged_in? %>
      　　<li class="button-menu">
        　　<%= button_to "Logout", session_path(current_user.id), method: :delete %>
      　   </li>
    　　<% else %>
      　　<li class="button-menu">
        　　<%= button_to "Login", new_session_path, method: :get %>
      　　</li>
    　　<% end %>
    　　 </ul>
  　　</nav>
　 </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
    <footer>
      <p>user name's profile site</p>
    </footer>
  </body>
</html>
