<!DOCTYPE html>
<html>
  <head>
    <title>ProfileApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  </head>

  <body>
    <header>
      <div class ="logo">
        <% if logged_in? %>
          <%= link_to "My profile", user_path(current_user),class: "logo-font" %>
        <% else %>
          <%= link_to "My profile", new_session_path, class: "logo-font" %>
        <% end %>
      </div>
      <% if logged_in? %>
       <%= button_to "ログアウト", session_path(current_user), method: :delete, class: "header-button" %>
      <% else %>
       <%= button_to "ログイン", new_session_path, method: :get, class: "header-button" %>
      <% end %>
　  </header>
　　<%= render 'skills/frash' %>
　　<main>
　　  <%= yield %>
　　</main>
    <footer>
      user name's profile site
    </footer>
  </body>
</html>
